apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    entryPoints:
      ssh:
        address: ":22"

    ports:
      ssh:
        port: 22
        expose:
          default: true
        exposedPort: 22
        protocol: TCP
