grafana:
  envFromSecret: grafana-github-oauth

  grafana.ini:
    auth.anonymous:
      enabled: false
    server:
      root_url: https://grafana.johanhernandez.com

    auth.github:
      enabled: true
      allow_sign_up: true
      client_id: ${client_id}
      client_secret: ${client_secret}
      scopes: user:email,read:org
      auth_url: https://github.com/login/oauth/authorize
      token_url: https://github.com/login/oauth/access_token
      api_url: https://api.github.com/user
      allowed_organizations:
        - johansorg

    auth:
      disable_login_form: true

    users:
      auto_assign_org_role: Admin

alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1
    retention: 120h
    secrets:
      - alertmanager-discord
    configMaps:
      - alertmanager-discord-templates
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: "null"
      group_by: ["alertname", "namespace"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 6h
      routes:
        - matchers:
            - severity="critical"
          receiver: "discord"
        - matchers:
            - severity="warning"
          receiver: "discord"
        - matchers:
            - alertname=~"Watchdog|InfoInhibitor"
          receiver: "null"
        - matchers:
            - alertname=~"KubeSchedulerDown|KubeControllerManagerDown"
          receiver: "null"
        - matchers:
            - alertname="KubeDaemonSetRolloutStuck"
          receiver: "null"
    receivers:
      - name: "null"
      - name: "discord"
        slack_configs:
          - channel: "grafana"
            icon_url: "https://avatars3.githubusercontent.com/u/3380462"
            api_url_file: /etc/alertmanager/secrets/alertmanager-discord/webhook-url
            title: "{{ .Status | toUpper }}: {{ .CommonLabels.alertname }}"
            text: |
              {{ range .Alerts }}
              • **Severity:** {{ .Labels.severity }}
              • **Namespace:** {{ .Labels.namespace }}
              • **Summary:** {{ with .Annotations.summary}} {{ . }} {{ else }} {{ .Labels.alertname }} {{ end }}
              {{ end }}
    inhibit_rules:
      - source_matchers:
          - alertname="NodeDown"
        target_matchers:
          - severity="warning"
        equal: ["node"]
      - source_matchers:
          - severity="critical"
        target_matchers:
          - severity="warning"
        equal: ["alertname", "namespace"]
    templates:
      - /etc/alertmanager/config/*.tmpl
