grafana:
  envFromSecret: grafana-github-oauth

  grafana.ini:
    auth.anonymous:
      enabled: false
    server:
      root_url: https://grafana.johanhernandez.com

    auth.github:
      enabled: true
      allow_sign_up: true
      client_id: ${client_id}
      client_secret: ${client_secret}
      scopes: user:email,read:org
      auth_url: https://github.com/login/oauth/authorize
      token_url: https://github.com/login/oauth/access_token
      api_url: https://api.github.com/user
      allowed_organizations:
        - johansorg

    auth:
      disable_login_form: true

    users:
      auto_assign_org_role: Admin
